.batsman-card {
    max-width: 400px;
}

.batsmanElements {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-style: italic;
}

.mat-elevation-z5 {
    margin-top: 20px;
}

img {
    height: 230px;
}