<div align="center" class="container1">
  <button class="testBtn" (click)="showTestRanking()">Test</button>
  <button class="odiBtn" (click)="showOdiRanking()">ODI</button>
  <button class="t20Btn" (click)="showT20Ranking()">T20I</button>
</div>

<!-- <div id="htmlData">
  <div *ngIf="ifOdiRanking">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header *matHeaderCellDef > ID </th>
        <td mat-cell *matCellDef="let odi">{{odi.id}}</td>
      </ng-container>
      <ng-container matColumnDef="Country">
        <th mat-header-cell mat-sort-header *matHeaderCellDef > COUNTRY </th>
        <td mat-cell *matCellDef="let odi"> {{odi.Country}} </td>
      </ng-container>
      <ng-container matColumnDef="Points">
        <th mat-header-cell mat-sort-header *matHeaderCellDef >POINTS</th>
        <td mat-cell *matCellDef="let odi"> {{odi.Points}} </td>
      </ng-container>
      <ng-container matColumnDef="Ratings">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> RATINGS </th>
        <td mat-cell *matCellDef="let odi"> {{odi.Ratings}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [pageSizeOptions]="[1,3,5]" showFirstLastButtons>
    </mat-paginator>
  </div>

  <div *ngIf="ifTestRanking">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >
      <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header *matHeaderCellDef > ID </th>
        <td mat-cell *matCellDef="let test">{{test.id}}</td>
      </ng-container>
      <ng-container matColumnDef="Country">
        <th mat-header-cell mat-sort-header *matHeaderCellDef > COUNTRY</th>
        <td mat-cell *matCellDef="let test"> {{test.Country}} </td>
      </ng-container>
      <ng-container matColumnDef="Points">
        <th mat-header-cell mat-sort-header *matHeaderCellDef >POINTS</th>
        <td mat-cell *matCellDef="let test"> {{test.Points}} </td>
      </ng-container>
      <ng-container matColumnDef="Ratings">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> RATINGS </th>
        <td mat-cell *matCellDef="let test"> {{test.Ratings}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [pageSizeOptions]="[1,3,5]" showFirstLastButtons>
    </mat-paginator>
  </div>

  <div *ngIf="ifT20Ranking">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >
      <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header *matHeaderCellDef > ID </th>
        <td mat-cell *matCellDef="let t20">{{t20.id}}</td>
      </ng-container>
      <ng-container matColumnDef="Country">
        <th mat-header-cell mat-sort-header *matHeaderCellDef > COUNTRY</th>
        <td mat-cell *matCellDef="let t20"> {{t20.Country}} </td>
      </ng-container>
      <ng-container matColumnDef="Points">
        <th mat-header-cell mat-sort-header *matHeaderCellDef >POINTS</th>
        <td mat-cell *matCellDef="let t20"> {{t20.Points}} </td>
      </ng-container>
      <ng-container matColumnDef="Ratings">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> RATINGS </th>
        <td mat-cell *matCellDef="let t20"> {{t20.Ratings}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [pageSizeOptions]="[1,3,5]" showFirstLastButtons>
    </mat-paginator>
  </div>
</div> -->

<app-table [tests]="tests"
           [odis]="odis" 
           [t20s]="t20s" 
           [tableData]="dataSource" 
           [tableColumns]="displayedColumns"
           [ifTestRanking]="ifTestRanking" 
           [ifOdiRanking]="ifOdiRanking" 
           [ifT20Ranking]="ifT20Ranking">
</app-table>

<div class="button">
  <button mat-raised-button color="accent" (click)="openPdf()">DOWNLOAD PDF</button>
</div>