.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 11%;
    background-image: url(https://img.freepik.com/free-photo/abstract-bokeh-pastel-background_1715-2113.jpg?size=626&ext=jpg);
    background-size: cover;
    background-repeat: no-repeat; 
}


